* {
  padding: 0;
  margin-left: auto;
  margin-right: auto;  
}

body {
    background-image: none;
    font-family: 'Lora', serif;
    justify-content: center;
    width: 90%;
}

/*flexbox navbar at top*/

.nav-list {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin: 0;
    font-size: 1.5rem;
   
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-item a:hover {
    color: rgb(169, 169, 169);
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

/*wrapper img?*/

.flex-container {
    padding: 0;
    margin: 0;
    background-image: url(../webProject/images/wrapper3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.flex-item {
    list-style: none;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
    padding: 5rem;
    font-size: 1rem;
}

.gt-wrapper {
    display: flex;
    justify-content: center center;
}

.wrapper-h1 {
    font-size: 4em;
    color: rgb(255, 255, 255);
    
}

/*about section*/

.about-container {
   
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.about-text {

}

/*developer section*/

.dev-container {
    display: flex;
    padding: 20px;
    background-image: url(../webProject/images/bg.jpg);
}

.gawie {

}

.tibert {

}

.dev-img {
    width: 300px;
    height: 300px;
}

.overlay-text {

}

.dev-name {
    font-size: 2em;
}

.dev-ul {
    list-style: none;
}

.dev-li {

}