* {
    padding: 0%;
    width: 90%;
}

body {
    background-image: none;
    font-family: 'Lora', serif;
    justify-content: center;
    background-color: brown;
}

/*flexbox navbar at top*/
.nav-list {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
    width: 90%;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-item a:hover {
    color: rgb(169, 169, 169);
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

/*wrapper img?*/

.flex-container {
    padding: 0;
    margin: 0;
    background-image: url(../webProject/images/bg.jpg);
    background-repeat: no-repeat;
    width: 90%;
    background-size: cover;
}

.flex-item {
    list-style: none;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
    padding: 5rem;
    font-size: 1.5rem;
}

/*developer section*/
.dev-section {
    background-color: rgb(255, 255, 255);
    padding: 2em;
}     

.dev-container {
    display: flex;
    position: relative;
    width: 50%;
}

.dev-img-1 {
    display: block;
    width: 300px;
    height: 300px;
}

.dev-middle {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #feffff;
    opacity: 80%;
    overflow: hidden;
    width: 300px;
    height: 0;
    transition: .5s ease;
}

.dev-container:hover .dev-middle {
    bottom: 0;
    height: 100%;
}

.dev-text {
    white-space: nowrap; 
    color: rgb(19, 18, 18);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.dev-ul-1 {
    list-style: none;
}

.dev-name-1 .dev-ul-1 .dev-li-1 {
    color: rgb(0, 0, 0);
}